body {
    background-color: #D8B573;
    padding-top: 0;
    margin: 0px;
    height: 100vh; 
    width: 100vw;
}

nav {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    text-transform: uppercase;
    font-weight: 900;
}

#fname {
    background-color: #F2E1C3;
    color: #02385A;
}

#lname {
    background-color: #F2E1C3;
    color: #02385A;
}

#submit {
    color: #02385A;
    background-color: #F2E1C3;
}

#forms {
    color: #02385A;
    width: 100%;
    padding: 12 px, 20 px;
    margin: 20 px; 
    border: 3 px solid #02385A; 
    background-color: #D8B573;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
}

li {
    display: inline;
}

a { color:#02385A;
}

ul {
    list-style-type: none;
}

div {
    background-color: #F2E1C3;
    margin: 20px;
    margin-top: 40px;
}

h1 {
    color: #A63922; 
    text-align: center;
}

h2 {
    color: #A66F2E;
    text-align: center;
}

h3 { 
    color: #D8B573;
    text-align: center;
}

h4 {
    color: #02385A;
    text-align: center;
}

h5 {
    color: #F2E1C3;
    text-align: center;
}

p {
    color:#A63922;
    text-align: center;
    font-family: "Lucida Handwriting", cursive;
}