body {
    background-color: #D8B573;
    padding-top: 0;
    margin: 0px;
    height: 100vh; 
    width: 100vw;
}

div {
    background-color: #F2E1C3;
    margin: 20px;
    margin-top: 40px;
}

h1 {
    color: #A63922; 
    text-align: center;
}

h2 {
    color: #A66F2E;
    text-align: center;
}

h3 { 
    color: #D8B573;
    text-align: center;
}

h4 {
    color: #02385A;
    text-align: center;
}

h5 {
    color: #F2E1C3;
    text-align: center;
}

p {
    color:#A63922;
    text-align: center;
    font-family: "Lucida Handwriting", cursive;
}